.menu {
  --margin: 1rem;
  --width: 400px;
  --transition: transform 0.5s ease-in-out;

  --shadow: 2px 3px 15px -2px rgba(0, 0, 0, 0.23);

  position: absolute;
  top: var(--margin);
  left: var(--margin);
  height: calc(100vh - var(--margin) * 2);
  width: var(--width);
  max-width: calc(100vw - var(--margin) * 2);
  padding: var(--margin);
  z-index: 1;

  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
  background-color: rgb(33, 33, 33);
  /* opacity: 0.7; */

  transition: var(--transition);
  user-select: none;

  color: #d1d1d1;
}

.menu h2 {
  text-transform: capitalize;
  letter-spacing: 0.3ch;
  margin-top: 0.5rem;
  text-align: center;
}

.menu:not([open]) {
  transform: translateX(-400px);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr {
  height: 1px;
  background-color: currentColor;
  width: 100%;
  margin-block: calc(0.5rem + calc(var(--margin) * 0.75));
}

.round-btn {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);

  text-align: center;
  line-height: var(--size);

  cursor: pointer;

  outline: #777 solid 1px;
  outline-offset: 4px;

  transition: transform 200ms ease-in-out;
  box-shadow: var(--shadow);
}

.round-btn:active {
  background-color: rgba(255, 255, 255, 0.45);
}

.round-btn:hover {
  transform: scale(1.07);
}

.close-open {
  transition: var(--transition);
  outline-color: #444;
}

.menu:not([open]) .close-open {
  transform: translateX(4rem);
}

.menu[open] .close-open {
  transform: rotate(-180deg);
}

.popup-container {
  border-radius: inherit;
}

.popup-select-new-object {
  transition: all 200ms ease-in-out;
  transform-origin: center;
}

.popup-select-new-object:not([open]) {
  transform: scaleX(90%);
  opacity: 0;

  /* forward pointer events to the elements behind me */
  pointer-events: none;
}

.popup-select-new-object {
  background-color: hsl(149, 15%, 30%);
  position: absolute;
  inset: 0;
  top: 4.5rem;
  border-radius: inherit;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* overflow-y: scroll; */
}

.popup-select-new-object h2 {
  margin-bottom: 0.5rem;
}

.popup-select-new-object li {
  list-style: none;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.popup-select-new-object li:hover {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.18);
}

.add-object {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 1.2rem;
  margin-inline: 0;
}

.close-popup {
  outline: none;
}


/******************************************************************/
/******************************************************************/
/******************************************************************/

.objects-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* overflow-y: scroll; */
  max-height: calc(100% - 8rem);

  /* todo only when overflowing */
  /* padding-right: 0.5rem; */
}

/* .objects-list::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.objects-list::-webkit-scrollbar-thumb {
  background-color: rgb(50 50 50);
  border-radius: 100vmax;
} */

.object-list-item {
  background-color: #333;
  padding: 1rem;
  border-radius: 0.25rem;
  letter-spacing: 0.15ch;
  position: relative;

  box-shadow: var(--shadow);
}

.object-list-item .type {
  color: rgba(255, 255, 255, 0.3);
}

.object-list-item .desc {
  color: rgba(255, 255, 255, 0.5);
}

.object-list-item[open] .head {
  margin-bottom: 1.75rem;
}

.object-list-item .head .texts {
  display: flex;
  gap: 1.15ch;
}

.round-btn.edit-list-item {
  outline: none;
}

/* edit area */

.edit-area {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: auto auto;

  margin-bottom: 1.75rem;
}

.edit-area .line {
  display: contents;
}

.edit-area label {
  padding: 5px;
  text-align: center;
}

.edit-area input {
  width: 15ch;
  padding: 5px;
  letter-spacing: inherit;
  border-radius: 0.25rem;
  color: inherit;
  border: 1px solid #888;
  background-color: transparent;
}

/* erase-cancel-update */

.erase-cancel-update-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.erase-cancel-update-container a {
  border-radius: 100%;
  flex: 1;

  transition: all 200ms ease-in-out;
  cursor: pointer;

  display: grid;
  place-items: center;
}

.erase-cancel-update-container a:hover {
  transform: scale(1.1) translateY(2px);
}

.erase-cancel-update-container .erase:hover {
  color: rgb(235 96 107 / 86%);
}

.erase-cancel-update-container .cancel:hover {
  color: rgba(131, 137, 163, 0.384);
}

.erase-cancel-update-container .update:hover {
  color: rgb(60 174 120 / 75%);
}
