/*
 * important
 * ---------
 * the canvas must completely fill its parent (the canvas-wrapper),
 * because points calculate their position relative to the canvas-wrapper;
 * (why? becuase they are children of the canvas-wrapper; html <canvas> element cannot have children).
 */

canvas {
  background: rgb(51, 49, 49);
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  inset: 0;

  /* otherwise there's a small non-removable margin-bottom under the cavnas */
  display: block;
}

.canvas-wrapper {
  position: absolute;
  inset: 0;
  height: 100vh;
}

body {
  /* padding: 1%; */
  /* background-color: rgb(77, 77, 83); */

  color: white;
}
