canvas {
  background: rgb(51, 49, 49);
  width: 100%;
  height: 100%;
  border-radius: 1em;

  /* these are important for calculating position of draggble points */
  padding: 0;
  margin: 0;
  border: none;

  /* otherwise there's a small non-removable margin-bottom under the cavnas */
  display: block;
}

.canvas-wrapper {
  /* margin: 30px; */
  border-radius: 1em;

  box-shadow: 0px 0px 0px 4px hsl(0 0% 63%);
}

body {
  padding: 3%;
  background-color: rgb(77, 77, 83);
}
