*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: system-ui, sans-serif; */
}

img {
  /* For images to not be able to exceed their container */
  max-width: 100%;
}
